    <div class="container">
        <header class="header">
            <h2 class="header-text">Solutions</h2>
        </header>
        <mat-sidenav-container class="content">
            <mat-sidenav mode="side" opened class="sidebar">
                <nav>
                    <ul class="side-nav">
                        <li class="navitem">
                            <a href="#" class="navlink">
                                <span>Java</span>
                            </a>
                        </li>
                        <li class="navitem">
                            <a href="#" class="navlink">
                                <span>Javascript</span>
                            </a>
                        </li>
                        <li class="navitem">
                            <a href="#" class="navlink">
                                <span>Python</span>
                            </a>
                        </li>
                        <li class="navitem">
                            <a href="#" class="navlink">
                                <span>C++</span>
                            </a>
                        </li>
                        <li class="navitem">
                            <a href="#" class="navlink">
                                <span>SQL</span>
                            </a>
                        </li>
                    </ul>

                    <div class="legal">
                        &copy; 2020 by solutions. All rights reserved.
                    </div>
                </nav>
            </mat-sidenav>
            <mat-sidenav-content>Main content</mat-sidenav-content>
          </mat-sidenav-container>
        
    </div>

